@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-banner .swiper-pagination-bullet {
  width: 15px;
  height: 6px;
  display: inline-block;
  background: #000000;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.slider-banner .swiper-pagination-bullet-active {
  background: #767ec4;
  width: 45px;
  transition-delay: 0s;
}

.swiper-pagination {
  position: absolute;
  left: 0px !important;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Промежуток между точками */
  width: 6px;
}

/* Линии вместо точек */
.custom-bullet {
  width: 6px;
  height: 30px;
  background-color: #10b981; /* Зеленый */
  opacity: 0.5;
  border-radius: 9999px;
  transition: opacity 0.3s ease;
}

/* Выделение активного элемента */
.custom-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
